* {
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
}

body {
  display: inline-block;
  width: 100vw;
  margin: 0 auto;
  background: black;
}

.arena {
  cursor: none;
  background: rgba(2, 103, 218, 0.562);
  position: relative;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  height: 700px;
  background: url("../src/assets/images/space.jpg") no-repeat;
  background-size: cover;
}

.enemy {
  position: absolute;
}

.hud {
  display: flex;
  padding: 1rem;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  border: 1px solid white;
  justify-content: space-between;
  background: #ffffff50;
  ;
}

.spark {
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  transform: translate(-12px, -25px);
}

.outerCrosshair {
  box-sizing: border-box;
  display: inline-block;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.363);
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  transform: translate(-7.5px, -7.5px);
}

.innerCrosshair {
  cursor: crosshair;
  padding: 2px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.527);
  position: absolute;
  transform: translate(1.5px, 1.5px);
}

.stageCounter {
  display: flex;
  color: white;
  margin: 0;
  padding: 20px;
  min-width: 7rem;
  background: #ffffff50;
}

.tempHud {
  float: right;
}